@media screen and (max-width:1256px){
    .about .bio .bio-inner{
        width:100%;
    }
}
@media screen and (max-width:1056px){
    .skill-page .skill-info{
        display: block;
    }
    .contact-page > .contacts #allmap{
        max-width:600px;
        height:400px;
        margin:0 auto;
    }
}
@media screen and (max-width:992px){
    .about {
        overflow-y: scroll;
    }
    .about > main{
        display: block;
    }
}
@media screen and (max-width: 769px) {
    nav.left {
        position: fixed;
        top:0;left:0;
        bottom:0;
        width: 100vw;
        z-index: 99;
        height: 60px;
    }
    nav.left.active{
        height: 100vh;
    }
    nav.left.active .links{
        display: block;
    }
    nav.left .title-icons{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 60px;
    }
    nav.left ol {
       display: none; 
    }
    nav.left.active ol{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    nav.left .links {
       display: none; 
    }
   
    nav.left .phone-icons {
        display: block;
        padding: 10px 0 10px 10px;
    }
}
@media screen and (max-width:430px){
  .contact-page .location p{
     font-size: 20px;
  }
}
