*,*::after,*::before{margin:0;padding:0;box-sizing:border-box;}
h1,h2,h3,h4,h5{font-weight:normal}
a{color:inherit;text-decoration:none;}
.page ul,ol{list-style:none;}
body{
    font-family: Helvetica, sans-serif;
    font-size:14px;
    line-height: 1.7;
    background:#fafafa;
}
.tabs-content-head{
    text-align: center;
    font-size:40px;
    padding-top:50px;
    margin-bottom:55px;
}
.page .icon{
    width:25px;
    height:25px;
    fill: currentColor;
    overflow: hidden;
    display: block;
}
i.sprite{
    width:40px;
    height:40px;
    display: block;
}
.page .border::after{
    content:'';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:200%;
    height:200%;
    border:1px solid;
    transform:scale(.5);
    transform-origin: 0 0;
    border-radius: 30px;
}
.page{
    display:flex;
}
nav.left{
    width:250px;
    text-align: center;
    display: flex;
    flex-direction:column; 
    align-items:center;
    background:#464444;
    height: 100vh;
}
nav.left >.title-icons{
    background:#464444;
}
nav.left h2{
    font-size:30px;
    color:#fafafa;
    margin:35px 5px;
}
nav.left .phone-icons{
    padding:10px 30px;
    display: none;
}
nav.left .phone-icons .p-icon{
    width:30px;
    height:30px;
    fill:white;
    vertical-align:middle;
    cursor:pointer;
}
nav.left > ol{
    width:100%;
}
nav > ol .tab-lists a{
    padding: 2px 0;
    display: flex;
    align-items:center;
    cursor:pointer;
    margin-bottom:10px;
}
nav > ol li a.active {
    transform: translateX(20px);
    transition: all .6s;
}
nav > ol li .head{
    padding:9px;
}
nav > ol li .head .sprite{
    background:transparent url('https://i.loli.net/2017/09/28/59cc4fccf07d4.png') no-repeat;
}
nav > ol li.first .head{
    background:#d63d3f;
}
nav > ol li.second .head{
    background: #37bc9b;
}
nav > ol li.third .head{
    background: #f6bb42;
}
nav > ol li.fourth .head{
    background:#4a89dc;
}
nav > ol li:hover .head .sprite{
    transform: rotateZ(30deg);
    transition: all .3s ease-in;
}
nav > ol li.first .head .sprite{
    background-position: 0 0;
}
nav > ol li.second .head .sprite{
    background-position: 0 -40px;
}
nav > ol li.third .head .sprite{
    background-position: 0 -80px;
}
nav > ol li.fourth .head .sprite{
    background-position: 0 -120px;

}
nav > ol li .content{
    border:2px solid;
    border-right:none;
    padding:0 24px;
    width:150px;
    line-height:54px;
    position:relative;
    color:white;
}
nav > ol li .content::after{
    content:'';
    display: block;
    position: absolute;
    right:0;
    height:100%;
    border-top:29px solid transparent;
    border-bottom:29px solid transparent;
    border-left:15px solid;
    top:-2px;
    transform:translateX(100%);

}
nav > ol li.first .content{
    border-color: #d63d3f;
}
nav > ol li.second .content{
    border-color: #37bc9b;
}
nav > ol li.third .content{
    border-color: #f6bb42;
}
nav > ol li.fourth .content{
    border-color:#4a89dc;
}
nav > ol li.first.active .content{
    color: #d63d3f;
}
nav > ol li.second.active .content{
    color: #37bc9b;
}
nav > ol li.third.active .content{
    color: #f6bb42;
}
nav > ol li.fourth.active .content{
    color:#4a89dc;
}
nav > ol li.first .content::after{
    border-left-color: #d63d3f;
}
nav > ol li.second .content::after{
    border-left-color: #37bc9b;
}
nav > ol li.third .content::after{
    border-left-color: #f6bb42;
}
nav > ol li.fourth .content::after{
    border-left-color:#4a89dc;
}
nav > .links{
    position:absolute;
    bottom:0;
    width: 100%;
}
nav > .links > .logo {
   display: flex;
   justify-content: center;
}
nav > .links >.logo> a{
    display: inline-block;
    border-radius:50%;
    margin: 0 2px;
}
nav > .links >.logo> a:hover{
    animation: move .8s ease-in;
}
nav > .links >.logo> a:first-child{
    background-color:#37bc9b;
}
nav > .links >.logo> a:last-child{
    background-color:#d63d3f;
}
nav > .links a svg{
    width:40px;
    height:40px;
    vertical-align:middle;
}
nav > .links a:first-child svg{
    fill:white;
}
nav > .links a:nth-child(4) svg{
    fill:white;
}
nav > .links p{
    color:#999;
    font-size:12px;
}
ul.introduction{
    flex:1;
    margin-left:250px;
}
ul.introduction > li{
    display:none;
}
ul.introduction > li.active{
    display: flex;
}
ul.introduction > li:nth-child(2).active{
    display: block;
}


@keyframes move {
    0%{transform: scale3d(1,1,1)}
    30%{transform: scale3d(1.25,.75,1)}
    40%{transform: scale3d(.75,1.25,1)}
    50%{transform: scale3d(1.15, 0.85, 1)}
    65%{transform: scale3d(.95, 1.05, 1)}
    75%{transform: scale3d(1.05, .95, 1);}
    100%{transform: scale3d(1,1,1)}
}
