.dialog-wrapper{
    position: fixed;
    top:0;right:0;bottom:0;left:0;
    background: rgba(0,0,0,.2);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-wrapper .dialog{
   position: relative;
   width: 50%;
}
.dialog-wrapper .dialog .video{
   width: 100%;
}
.dialog-wrapper .dialog .wechat{
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.dialog-wrapper .dialog .wechat div{
  margin: 0 10px;
}
.dialog-wrapper .dialog .avatar{
  width: 120px;
  height: 120px;
}
.dialog-wrapper .dialog .close{
   position: absolute;
   top: 0;
   right: -25px;
   cursor: pointer;
}